.root {
}
.button {
  width: 125px;
  height: 45px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  background-color: #672af8;
  outline: unset;
  border: 0px solid black;
  color: #ffffff;
  border-radius: 3px;
}
