.root {
}
.formRow {
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  background-color: #f7f7f7;
}
